<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include templates/header.ejs %>

<h3>About</h3>
<p>This is where I would put stuff about <%= nickname %>.</p>

</ul>
</body>
</html>
