<!DOCTYPE html>
<html lang="en">
<head>

    <link href="/stuff/styles.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>my site</title>
</head>
<body>
<% include partials/nav.ejs %>
<h1>Welcome to my Website.</h1><h1> It is being hosted on a local server.</h1>
<p>The website was streamed using NodeJS</p>

</body>
</html>